<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <nav>
        
        <ul>

            <li>
                <a href="/main/home">Home</a>
            </li>

            <li>
                <a href="/order/new">Add New Order</a>
            </li>

            <li>
                <a href="/order/view">View Orders</a>
            </li>

        </ul>

    </nav>