<%- include('../partials/header.ejs') %>

    <h1>Orders</h1>

    <% if (orders.length > 0) { %>

        <% orders.forEach((e) => { %>

            <p> <%- e.order_id %> <br> <%- e.required_date %> </p>


        <% }) %>

    <% } %>
    

<%- include('../partials/footer.ejs') %>
